body{
  color: white;
  background-image: url(img/cielo.jpg);
  width: 100%;
  height: 100vh;
}

a:link, a:visited {
  color: white;
  display: inline-block;
}

a:hover, a:active {
  background-color: orangered;
}

section{
  position: relative;
  width: 100%;
}

.pianeti{
  float: left;
  width: 300px;
  height: 300px;
  display: block;
  background-size: cover;
}


.descrizione{
  display: block;
}

footer{
  text-align: center;
}